<h2  class="page-header"><%= book.title%></h2>
<div>
    <label>Publish Date: <%= book.publishDate.toISOString().split('T')[0]%></label>
</div>
<div>
    <label>Author: <%= book.author.name%></label>
    
</div>
<div>
    <label>Page Count: <%= book.pageCount%></label>
</div>
<div>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
</div>
<div>
    <text>Description: <%= book.description%></text>
</div>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= book.author.id%>">View Author</a>
    <a class="btn btn-primary" href="/books/<%= book.id%>/edit">Edit</a>
    <%- include('../partials/deleteform.ejs', {url: `/books/${book.id}`})%>
</div>